body{
    background-color: lightgray;
}

canvas{
    margin-top: 40px;
    margin-left: 50px;
    border: 4px;
    border-color: black;
    border-style: solid;
}

.hidden{
    display: none;
}

#div2{
    position: absolute;
    top: 120px;
    left: 350px;
    background-color:tan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 270px;
    height: 350px;
    border-radius: 10px;
    border: 2px;
    border-color: saddlebrown;
    border-style: solid;
}

#div1{
    position: absolute;
    top: 48px;
    left: 980px;
    padding: 15px;
    background-color:tan;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    width: 300px;
    height: 520px;
    border: 4px;
    border-color: saddlebrown;
    border-style: solid;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
}

p{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    left: -15px;
}


input {
    margin: 5px;
    border-radius: 3px;
}


select {
    width: 200px;
    height: 25px;
    margin: 5px;
    border-radius: 3px;
}

#add{
    position: relative;
    margin: 10px;
    height: 25px;
    width: 60px;
    left: 30%;
}


fieldset{
    border: none;
    padding: none;
    padding: 0 30px ;
}
form{
    padding: none;
}
label{
    padding: 0 10px;
    text-align: center;
    margin-left: 15px;
}

#newp{
    margin: 15px;
    text-align: left;
    background-color: orange;
    padding: 15px;
    border: 1px;
    border-color:saddlebrown;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 10px 10px;
}


#edit{
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 2px;
    border: 1px;
    box-shadow: 2px 2px;
}

#startbtn{
    position: relative;
    top: 300px;
    margin-left: 45%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}


#start_p{
    position: absolute;
    top: 20%;
    left: 42%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 10px;

}
/* #btn1{
    position: relative;
    left: 35%;
    top: 15px;
} 
#btn2{
    position: relative;
    left: 45%;
    bottom: 15px; */
/* }  */